<div class="cd-edit-body">
<div class="container">
	<div class="col-xs-12">
    <%= form_for(@cd, url: admin_cd_path) do |f| %>
	<p class="edit-title">CD編集</p>
        <label>CDジャケット画像</label>
	        <div class="edit-image">
	            <%= f.attachment_field :image, class:"image" %>
	        </div>
        <label>アルバム/シングル名</label>
	        <div class="edit-text">
				<%= f.text_field :cd_name, class:"cd_name" %>
			</div><br>
		<label>アーティスト名</label>
		    <div class="edit-text">
				<%= f.collection_select(:artist_id, Artist.all, :id, :name) %>
			</div>
			<div class="edit-text">
            	<div id="artist_button" class="edit-registration-button btn-sm btn-success">アーティスト新規登録</div><br>
        	</div>
		<label>単価</label><br>
		    <div class="edit-text">
			    <%= f.text_field :price, class:"price" %> 円
			</div><br>
		<label>レーベル</label><br>
		    <div class="edit-text">
		        <%= f.collection_select(:label_id, Label.all, :id, :name) %>
		    </div>
		    <div class="edit-text">
                <div id="label_button" class="edit-registration-button btn-sm btn-success">レーベル新規登録</div>
            </div><br>
		<label>CDジャンル</label><br>
		    <div class="edit-text">
		        <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
		    </div>
            <div id="genre_button" class="edit-registration-button btn-sm btn-success">CDジャンル新規登録</div><br>

		<label>在庫数</label><br>
		    <div class="edit-text">
			    <%= f.text_field :stock, class:"stock" %> 個
		    </div><br>
            <%= f.submit "編集", class:"create_admin_cd btn btn-success" %>
	<% end %>

	<div id="cd-modal-artist" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		   <h2>アーティスト名登録</h2>
		   <%= form_for(@artist, url: admin_artists_path) do |f| %>
		   <%= f.text_field :name, class:"artist_name col-xs-8" %>
		   <%= f.submit "新規登録", class:"create_artist btn btn-primary" %>
		   <% end %>
		  </div>
		</div>
	</div>
	<div id="cd-modal-label" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	   <h2>レーベル名登録</h2>
	   <%= form_for(@label, url: admin_labels_path) do |f| %>
	   <%= f.text_field :name, class:"label_name col-xs-8" %>
	   <%= f.submit "新規登録", class:"create_label btn btn-primary" %>
	   <% end %>
	  </div>
	</div>
	</div>
	<div id="cd-modal-genre" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
		<div class="modal-content">
		<h2>ジャンル名登録</h2>
		<%= form_for(@genre, url: admin_genres_path) do |f| %>
		<%= f.text_field :name, class:"genre_name col-xs-8" %>
		<%= f.submit "新規登録", class:"edit_admin_genre btn btn-primary" %>
		<% end %>
		</div>
	</div>
    </div>
</div>
</div>
</div>
<script>
	$(function(){
		$('#artist_button').on('click', function(){
			$('#cd-modal-artist').modal('show');
		});
		$('#label_button').on('click', function(){
			$('#cd-modal-label').modal('show');
		});
		$('#genre_button').on('click', function(){
			$('#cd-modal-genre').modal('show');
		});
	});
</script>