<div class="wrapper clearfix">
<div id="nav-search" class="cd-search">
        <%= form_tag '/admin/cds', :method => 'get' do %>
            <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :cd_name => nil, class:"cd-search-button" %>
            </p>
        <% end %>
</div>
    <table class="cd-table table-hover table-inverse col-xs-12">
	<thead>
			<tr>
				<th></th>
				<th>アルバム/シングル名</th>
				<th>アーティスト名</th>
				<th>価格</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
	</thead>
	<tbody>
		<% @cds.each do |cd| %>
			<tr>
				<td><%= attachment_image_tag cd, :image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40', class:"index-image" %></td>
				<td><%= cd.cd_name %></td>
				<td><%= cd.artist.name %></td>
				<td><%= cd.price %> 円</td>
				<td><%= link_to '詳細', public_cd_path(cd.id), class:"btn-sm btn-primary" %></td>
				<td><%= link_to '編集', edit_admin_cd_path(cd.id), class:"btn-sm btn-success" %></td>
				<td><%= link_to "削除", admin_cd_path(cd.id, :cd => {:deleated => 'true'}), method: :delete, class:"destroy_admin_cd_#{cd.id} btn-sm btn-danger", "data-confirm" => "CD情報を削除します。よろしいですか？" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>



