
<p>検索</p>
<%= form_tag(search_admin_histories_path,:method => 'get')do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag 'Search', :cd_name => nil %>
<% end %>


<table>
	<% if @search %>
		<tr>
		<% @search.orders.each do |o| %>
			<td>
				<% o.cart %>
				<% h = o.cart.history %>
				<%= h.title %>
			</td>
		<% end %>
		</tr>
	<% end %>
</table>

<table border="1">
	<tr>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
		<th>合計</th>
		<th>状態</th>
		<th></th>
		<th></th>
	</tr>

	<% @orders.each do |order| %>
		<tr>
			<%#<td text-align:center;><img height="80" src="<%=h item.good.image_url "/></td%> 
			<td text-align:center;><font size="4"><%= order.cd.cd_name %></font></td>
			<td text-align:center;><font size="4"><%= (order.cd.price).to_s(:delimited) %>円</font></td>
			<td text-align:center;><font size="4"><%= order.quantity %></font></td>
			<td text-align:center;><font size="4"><%= (order.total_price).to_s(:delimited) %>円</font></td>
			<!-- historyモデルのcart_idでorderテーブルのcart_idと一致する最初の一件を取得 -->
			<% history = History.find_by(cart_id: order.cart_id) %>

			<!-- デフォルトのメソッドはpost -->
			<td>
				<%= form_for history, url:admin_history_path(history.id), method: :patch do |f| %>
	  				<%= f.select :status, History.statuses.keys, :selected => history.status %>
	  				<%= f.submit "更新" %>
	  			<% end %>
  			</td>
			<%#<%= link_to "削除",cart_path(@cart) %>
		</tr>

		<!-- <td colspan="5"><font size="5">総計：<%= (order.cart.total_price) %>円</font></td> -->
		<%# form_with(model: history, local: true) do |form| %>
  <% end %>		<%# end %>
</table>


<span>
	<font size="5">総計：<%= @sum %>円</font>
</span>