<div id="nav-search" class="cd-search">
    <%= form_tag '/public/cds', :method => 'get' do %>
        <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :cd_name => nil, class:"cd-search-button" %>
        </p>
    <% end %>
</div>
    <table class="cd-table table-hover table-inverse col-xs-12">
	<thead>
			<tr>
				<th></th>
				<th>アルバム/シングル名</th>
				<th>アーティスト名</th>
				<th>価格</th>
			</tr>
	</thead>
	<tbody>
			<% @cds.each do |cd| %>
			<tr>
				<td><%= attachment_image_tag cd, :image, :fill, 50, 50, fallback: "no_image.jpg",size: '50x50' %></td>
				<td><%= link_to cd.cd_name, public_cd_path(cd.id), class:"public_cd_#{cd.id}" %></td>
				<td><%= cd.artist.name %></td>
				<td><%= cd.price %> 円</td>
			</tr>
		<% end %>
	</tbody>
    </table>


