<div class="col-xs-9">
		<%= attachment_image_tag @cd, :image, :fill, 40, 40, fallback:"No_image.png",size: '40x40' %><br>
		<h3>商品名</h3>
		<%= @cd.name %>
		<h3>アーティスト</h3>
		<%= @cd.artist_id.name %>
		<h3>レーベル</h3>
		<%= @cd.label_id %>
		<% if current_user.admin == true %>
       	<%= link_to "Edit", edit_admin_cd_path(@cd.id), class:"edit_admin_cd_#{@cd.id} btn-sm btn-success" %>
       	<%= link_to "Destroy", admin_cd_path(@cd.id), method: :delete, class:"destroy_admin_cd_#{@cd.id} btn-sm btn-danger", "data-confirm" => "Are you sure？" %>
	    <% end %>
</div>