<div class="col-xs-3">
	<%= render 'users/list', user: @user %>
	<%= render 'books/list', book: @book_new %>
</div>
<div class="col-xs-9">
		<%= attachment_image_tag @cd, :image, :fill, 40, 40, fallback:"No_image.png",size: '40x40' %><br>
		<h3>商品名</h3>
		<%= @cd.name %>
		<%= @cd.artist_id.name %>
		<%= @book.opinion %>
		<% if current_user.admin == true %>
       	<%= link_to "Edit", edit_book_path(@book.id), class:"edit_book_#{@book.id} btn-sm btn-success" %>
       	<%= link_to "Destroy", book_path(@book.id), method: :delete, class:"destroy_book_#{@book.id} btn-sm btn-danger", "data-confirm" => "Are you sure？" %>
	    <% end %>
</div>

