<div class="cd-show-body">
<div class="col-xs-5 cd-image">
	<%= attachment_image_tag @cd, :image, :fill, 500, 500, fallback:"no_image.jpg",size: '500x500' %>
</div>
<div class="col-xs-7">
	<div class="detail-link">
        <%= link_to '戻る', :back %>
    </div>
    <% if signed_in? && current_user.admin == true %>
         <div class="detail-link">
       <%= link_to '管理者用商品一覧', admin_cds_path %>
    </div>
    <% else %>
    <div class="detail-link">
        <%= link_to '商品一覧', public_cds_path %>
    </div>
    <% end %>
		<h3>商品名</h3>
		<h4><%= @cd.cd_name %></h4>
		<% if user_signed_in? == false || @user.admin == false %>
		    <div class="cd-detail-button">
		        <%=link_to "カートに入れる", public_carts_path, id: @cd.id,
		         method: :post, class:"btn-primary  fas fa-shopping-cart cart-button" %>
		       <% p "===============" %>
		        <% p @cd.id %>
		       <% p "===============" %>
		    </div>
		<% end %>
		<% if signed_in? && current_user.admin == true %>
		    <%= link_to "CD編集", edit_admin_cd_path(@cd.id), class: "edit_admin_cd_#{@cd.id} btn-sm btn-success" %>
	       	<%= link_to "CD削除", admin_cd_path(@cd.id, :cd => {:deleated => 'true'}), method: :delete, class: "destroy_admin_cd_#{@cd.id} btn-sm btn-danger", "data-confirm" => "CD情報を削除します。よろしいですか？" %><br><br>
			<%= link_to '曲登録', new_admin_music_path, class: "new_admin_cd btn-sm btn-success" %><br><br>
	    <% end %>
		<h3>アーティスト</h3>
		    <h4><%= @cd.artist.name %></h4>
		<h3>レーベル</h3>
		    <h4><%= @cd.label.name %></h4>
		<h3>値段</h3>
		    <h4><%= @cd.price %></h4>
		<h3>在庫数</h3>
		    <% if @cd.stock == 0 %>
		    <%= image_tag('SOLD_OUT.jpeg', :size => '120x120') %>
		<% else %>
		    <h4><%= @cd.stock %></h4>
		<% end %>
		<h3>ジャンル</h3>
		    <h4><%= @cd.genre.name %></h4>
		<h3>曲一覧</h3>
		    <% @musics.each do |musics| %>
		<table class="detail-table table-hover table-inverse">
		    <tbody>
			    <tr>
				    <td>Disk.<%= musics.disk_number %></td>
				    <td><%= musics.track %>.</td>
				    <td><%= musics.name %></td>
				    <% if signed_in? && current_user.admin == true %>
				        <td><%= link_to "曲削除", admin_music_path(musics.id), method: :delete, class:"destroy_music_#{musics.id} btn-sm btn-danger", "data-confirm" => "曲を削除します。よろしいですか？" %></td>
				    <% end %><br>
			    </tr>
		    </tbody>
	    </table>
		<% end %>
</div>



 <table border="1" align="left">
<% @cd.reviews.each do |review| %>

    <tr>
    <td><%= attachment_image_tag review, :image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
    <td><%= review.cd.cd_name %></td>

     <td><p><%= review.text  %></p>
     <p><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     </td>

 <% if @review.user == current_user %>
    <td>
      <p><%= link_to "edit", edit_public_review_path %></p>
　　　 <p><%= link_to "destroy", public_cds_path(@cd_id), method: :delete, data: {confirm:'Are you sure?？'} %>

      </p>
    </td>
    <% end %>
   </tr>
   <% end %>

</table>


<div class="container text-center">
  <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#post">つぶやきを投稿する!</button>


  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with model: @review, url: public_reviews_path do |f| %>
          <div class="modal-body">
            <p>新規レビュー投稿</p>
            <%= f.hidden_field :cd_id, :value => params[:id] %>
            <%= f.attachment_field :image %>
            <%= f.text_field :text, class: "form-control", placeholder: "投稿内容を入力" %>
          </div>
          <div class="modal-footer">
            <button type="button" id="close_modal" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

