<div class="main">
		<table border="1">
			<tr>
				<th>商品名</th>
				<th>価格</th>
				<th>数量</th>
				<th>合計</th>
				<th></th>
				<th></th>
			</tr>
			
			<% @cart.orders.each do |order| %>
				<tr>
					<td text-align:center;><font size="4"><%= order.cd.cd_name %></font></td>
					<td text-align:center;><font size="4"><%= (order.cd.price).to_s(:delimited) %>円</font></td>
					<td text-align:center;><font size="4"><%= order.quantity %></font></td>
					<td text-align:center;><font size="4"><%= (order.total_price).to_s(:delimited) %>円</font></td>
					<!-- orderの中に値が入っているとupdateアクション -->
					<!-- orderの中に値が入っていないとcreateアクション -->
					<!-- form_for の場合はネストする。削除と同じやり方-->
					<td>
						<%= form_with(model: order, local: true,url: public_order_path(order.id)) do |f| %>
							<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
							<%= f.submit "数量の変更を確定"%>
						<% end %>
					</td>
					<!-- orderとcartのidをcart_order_deleteメソッドに渡す必要がある -->
					<td><%= link_to "削除",public_cart_order_delete_path(@cart.id,order.id), method: :delete %></td>
				</tr>
			<% end %>
		</table>
	<font size="5"colspan="6" style="text-align: center;">総計：<%= @sum %>円</font>
	<%= link_to "注文確定",public_cart_path(@cart.id), method: :delete%><br>
</div>