
<div class="wrapper clearfix">

 <table border="1" align="left">
<% @reviews.each do |review| %>

    <tr>
    <td><%= attachment_image_tag @review, :image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
    <td><%= review.cd.cd_name %></td>

     <td><p><%= review.text %></p>
       <p><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     </td>
     <% if user_signed_in? && review.user == current_user %>
    <td>
      <p>
      <%= link_to "edit", edit_public_review_path(review.id) %></p>
　　　 <p><%= link_to "destroy", public_review_path(review.id), method: :delete, data: {confirm:'Are you sure?？'} %>

      </p>
    </td>
   <% end %>
   </tr>
   <% end %>

</table>
</div>