<div id="nav-search">
<h5 class="index-title">ユーザー検索</h5>
		<%= form_tag '/admin/users', :method => 'get' do %>
		<p>
  				<%= text_field_tag :search, params[:search] %>
  				<%= submit_tag '検索', :first_name => nil, class:"btn btn-default" %>
  		</p>
		<% end %>

<table class="table table-hover table-inverse">
	<thead>
			<tr>
				<th><h4 class="admin-title">会員一覧</h4></th>
				<th></th>
				<th></th>
			</tr>
	</thead>
	<tbody>
		<% @cd_users.each do |user| %>
		<tr>
		        <td><%= user.first_name %><%= user.last_name %></td>
		        <td><%= link_to '詳細' , public_user_path(user.id), class:"user_#{user.id} btn-sm btn-primary" %></td>


				<% if current_user && current_user.admin? %>
		        		<td><%= link_to "編集", edit_public_user_path(user.id), class:"edit_#{@user.id} btn-sm btn-success" %></td>
		        <% end %>

		        <% if current_user && current_user.admin? %>
			    	   <td><%= link_to "退会", user_delete_public_users_path(user.id), class:"destroy_page btn-sm btn-danger" %></td>

                <% end %>
        <% end %>
        </tr>
    </tbody>