<div class="container">
		<h2 class="mypage-title">マイページ</h2>
		
				<div class="mypage-item"><%= @user.first_name %></div>
				<div class="mypage-item"><%= @user.last_name %></div>
				<div class="mypage-item"><%= @user.post_number %></div>
				<div class="mypage-item"><%= @user.address %></div>
				<div class="mypage-item"><%= @user.phone_number %></div>
				<div class="mypage-item"><%= @email %></div>



<table border="1">
	<tr>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
		<th>合計</th>
		<th>状態</th>
		<th></th>
	</tr>

<% @carts.each do |cart|%>

	<% cart.orders.each do |order| %>
		<tr>
			<%#<td text-align:center;><img height="80" src="<%=h item.good.image_url "/></td%> 
			<td text-align:center;><font size="4"><%= order.cd.cd_name %></font></td>
			<td text-align:center;><font size="4"><%= (order.cd.price).to_s(:delimited) %>円</font></td>
			<td text-align:center;><font size="4"><%= order.quantity %></font></td>
			<td text-align:center;><font size="4"><%= (order.total_price).to_s(:delimited) %>円</font></td>


			<!-- historyモデルのcart_idでorderテーブルのcart_idと一致する最初の一件を取得 -->
			<% history = History.find_by(cart_id:order.cart_id) %>
			<td>
				<% if cart.history.status == nil %>
					<%= cart.history.status = 0 %>
					<%= cart.history.status %>
				<% else %>
				  <%= cart.history.status %>
				<%end%>
			</td>
			<!-- デフォルトのメソッドはpost -->
		</tr>

		<%# form_with(model: history, local: true) do |form| %>
  		<%# end %>
	<% end %>
	<!-- cartに紐付くorders(注文商品) -->
	<tr>
		<td colspan="5" style="text-align: center;"><font size="4">総計：<%= @sum = cart.orders.inject(0){ |result,order|
									 	result += order.price.to_i * order.quantity.to_i
																		}.to_s(:delimited) %>円</font>
		</td>
	</tr>
	<%# cart.build_history %>

 <% end %>





</table>




		<% if @user == current_user %>
        		<%= link_to "編集", edit_public_user_path(@user.id), class:"btn-sm btn-success" %>
        <% end %>

        <% if @user == current_user %>
        	   <%= link_to "退会", user_delete_public_users_path, class:"destroy_page btn-sm btn-danger" %>
        <% end %>
