<!DOCTYPE html>
<html>
  <head>
    <title>CDtsubuyakisan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper clearfix">
      <header class="top">
          <div class="container">
              <nav class="header-item">
                  <span><%= link_to root_path do %>
                      <%= image_tag "logo.png", class: 'mypae-image', style: "width: 80px; height: 50px; margin-top: 10px;" %>
                      <% end %>
                  </span>
              </nav>
              <nav>
                  <ul class="header-page">
                      <% if user_signed_in? && current_user.admin? %>
                          <li class="header-right">
                              <%= link_to '管理者マイページ', admin_user_path(current_user.id),class: "header-link fas fa-home"  %>
                          </li>
                          <li class="header-right">
                              <%= link_to "新規商品登録", new_admin_cd_path,class: "header-link fas fa-shopping-cart"  %>
                          </li>
                          <li class="header-right">
                              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link fas fa-sign-out-alt" %>
                          </li>
                      <% elsif user_signed_in? && !current_user.admin? %>
                          <li class="header-right">
                              <%= link_to 'マイページ', public_user_path(current_user.id),class: "header-link　home fas fa-home"  %>
                          </li>
                          <li class="header-right">
                              <%= link_to 'カート', public_cart_path(current_user.id),class: "header-link fas fa-shopping-cart" %>
                          </li>
                          <li class="header-right">
                              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link fas fa-sign-out-alt" %>
                          </li>
                      <% else %>
                          <li class="header-right">
                              <%= link_to "新規会員登録", new_user_registration_path, class: "header-link fas fa-user-plus" %>
                          </li>
                          <li class="header-right">
                              <%= link_to "ログイン", new_user_session_path, class: "header-link fas fa-sign-in-alt" %>
                          </li>
                      <% end %>
                  </ul>
              </nav>
          </div>
      </header>
  <%= yield %>

      <footer class="footer">
          <p class="footer-text">© Zettai.D.</p>
      </footer>
    </div>

  </body>
</html>
